* {
	margin: 0;
	padding: 0;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
	.head {
		border-radius: none;
	}
	.head2 {
		border-radius: 0 0 10px 10px;
	}
}

.head {
	float: left;
	height: 100px;
	background-color: rgba(0,0,0,0.5); 
	text-align: center;
	font-size: 3em;
	vertical-align: middle;
	border-radius: 0 0 0 10px;
}
.head a {
	display: block;
	line-height: 100px;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(0,255,0,0.4);
}

.head a:hover {
	color: rgba(0,255,0,0.6);
}

.head2 {
	float: left;
	height: 100px;
	background-color: rgba(0,102,0,0.5);
	border-radius: 0 0 10px 0;
}

.head2 ul {
	margin:30px auto;
	text-align: center;
}

.head2 ul li{
	display: inline;
	font-size: 2em;
	border-radius: 5px;
	margin: 10px;	
}

.head2 ul li a{
	color: rgba(0,0,0,0.7);
	text-decoration: none;
}
.head2 ul li a:hover {
	color: rgba(0,0,0,1);
	font-weight: 700;
}