* {
	margin: 0;
	padding: 0;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (max-width: 1150px){
	[class*="col-"] {
        width: 100%;
    }
}

body {
	background-image: url("../pictures/indexbckgr.jpg");
	background-size: cover;
}

.active {
	font-weight: 700;
	color: rgba(0,0,0,1);
}

.head {
	margin-top: 10px;
	float: left;
	height: 60px;
	background-color: rgba(0,0,0,0.5); 
	text-align: center;
	font-size: 2em;
	vertical-align: middle;
	border-radius: 10px 10px 10px 10px;
	min-width: 575px;
}
.head a {
	display: block;
	line-height: 60px;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(0,255,255,0.6);  /*(0,255,0,0.4)*/
}

.head a:hover {
	color: rgba(0,255,255,0.5); 
}

.head2 {
	margin-top: 10px;
	float: left;
	height: 60px;
	background-color: rgba(0,255,255,0.6); /*rgba(0,102,0,0.5);*/
	border-radius: 10px 10px 10px 10px;
	min-width: 530px;
}

.head2 ul {
	text-align: center;
}

.head2 ul li{
	display: inline;
	font-size: 1.7em;
	padding: 0 15px;
}

.head2 ul li a{
	color: rgba(0,0,0,0.7);
	text-decoration: none;
	line-height: 60px;
	vertical-align: middle;
}

.head2 ul li a:hover {
	color: rgba(0,0,0,1);
	font-weight: 700;
}

.contentabout {
	position: relative;
	padding: 50px; 
}

.innerabout {
	width: 60%;
	margin: 50px auto;
	text-align: center;
	font-size: 2em;
	color:  rgba(255,255,255,0.8);
}

.content {
	padding: 120px 100px 0 100px;
}

.slide-container {
	position: relative;
	height: 400px;	
	border: 1px solid rgb(20,150,200);
	border-radius: 10px;
	color: white;
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.slide-list {
	width: 999000px;
	opacity: 0.9;
	left: 0;
	position: absolute;
}

.slide-list:hover {
	opacity: 1;
}
.slide-list img {
	display: inline;
}

.slide-item {
	float: left;
}

.smallnav {
	cursor: pointer;
	vertical-align: middle;
	padding: 5px;
	z-index: 1000;
}

.smallnav img {
	height: 40px;
	width: 40px;
	opacity: 0.7;
}

.slide-left {
	position: absolute;
	top: 0;
	left: 0;
	height: 400px;
	line-height: 400px;
}

.slide-right {
	position: absolute;
	top: 0;
	right: 0;
	height: 400px;
	line-height: 400px;
}

.footer {
	height: 140px;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

.footer-links {
	width: auto;
	height: 100px;
	padding: 10px 0;
	background-color: rgba(37,175,245,0.3);  /*rgba(217, 242, 250, 0.8);*/
	border-radius: 10px;
}

.footer img {
	max-height: 100px;
}

.text-center {
	text-align:center;
}

.f-left {
	float:left;
}